<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=RyNFTbWUngUcK6zU_0Ek3A');ol{margin:0;padding:0}.c4{color:#13a89e;font-size:10pt;font-family:"Satisfy";text-decoration:underline;font-weight:bold}.c10{color:#13a89e;font-size:12pt;font-family:"Satisfy";text-decoration:underline;font-weight:bold}.c2{color:#13a89e;font-style:italic;text-decoration:underline;font-weight:bold}.c13{color:#13a89e;font-size:12pt;font-family:"Satisfy";text-decoration:underline}.c0{widows:2;orphans:2;text-align:center;direction:ltr}.c5{widows:2;orphans:2;direction:ltr}.c17{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c7{color:#13a89e;font-style:italic}.c18{color:#13a89e;font-size:14pt}.c14{color:inherit;text-decoration:inherit}.c3{font-size:10pt;font-family:"Georgia"}.c16{color:#13a89e;text-decoration:underline}.c1{font-size:12pt;font-family:"Georgia"}.c12{color:#ff6132;text-decoration:underline}.c9{height:11pt}.c6{font-family:"Georgia"}.c11{font-style:italic}.c19{font-size:14pt}.c20{text-decoration:underline}.c15{font-size:10pt}.c8{font-size:30pt}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:16pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h2{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}</style>
  </head>
  <body style="max-width: 468pt; background-color: #ffffff; padding: 72pt;" bgcolor="#ffffff">
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
<script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>


      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 141.50px; height: 141.50px; margin: 0.00px; border: 0.00px solid #000000;">
        <img alt="HUK logo2.png" src="<%= root_url %>assets/email/logo.png" style="width: 141.50px; height: 141.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-family: 'Georgia'; font-size: 30pt;">
        Hi 
      </span>
      <span style="color: #13a89e; text-decoration: underline; font-family: 'Georgia'; font-size: 30pt;">
        <%= link_to "@#{@user.twitter_handle}", user_profile_url(@user), style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-family: 'Georgia'; font-size: 30pt;">!</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-family: 'Georgia'; font-size: 14pt;"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        You have been successfully registered for 
      </span>  
      <span style="color: #13a89e; font-size: 12pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <%= link_to @event.event_name, event_url(@event), style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';">.</span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Thank you for using 
      </span>
      <span style="color: #13a89e; font-size: 12pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <a href="<%= root_url%>" target="_blank" style="color: inherit; text-decoration: inherit;">
          HUK
        </a>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';"> to discover startup events that you’d like to attend.</span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    <div style="">
    <a style="" id="atc_btn_blue_google_link" class="atcb-item-link" href="http://addthisevent.com/create/?service=GOOGLE&dstart=<%=@event.event_start_time.strftime('%d-%m-%Y %H:%M:%S')  %>&dend=<%=@event.event_end_time.strftime('%d-%m-%Y %H:%M:%S') %>&dzone=77&dsum=<%= @event.event_name.to_s.gsub('&','and') %>&ddesc=<%= @event.event_description.to_s.gsub('&','and') %>&dloca=<%=@event.event_venue.to_s.gsub('&','and') %>&dorga=<%=@event.organizers.first.name %>&dallday=false&dateformat=DD%2FMM%2FYYYY&reference=<%= event_url(@event) %>" target="_blank"><p class="c5" style="display:inline-block;"><span style="overflow: hidden; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 220.00px; height: 45.74px;"><img alt="" src="<%= root_url %>assets/email/image041.png" style="width: 220.00px; height: 45.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p></a>
    <a style="" id="atc_btn_blue_ical_link" class="atcb-item-link" href="http://addthisevent.com/create/?service=ICAL&dstart=<%=@event.event_start_time.strftime('%d-%m-%Y %H:%M:%S')  %>&dend=<%=@event.event_end_time.strftime('%d-%m-%Y %H:%M:%S') %>&dzone=77&dsum=<%= @event.event_name.to_s.gsub('&','and') %>&ddesc=<%= @event.event_description.to_s.gsub('&','and') %>&dloca=<%=@event.event_venue.to_s.gsub('&','and') %>&dorga=<%=@event.organizers.first.name %>&dallday=false&dateformat=DD%2FMM%2FYYYY&reference=<%= event_url(@event) %>" target="_blank"><p class="c5" style="display:inline-block;"><span style="overflow: hidden; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 220.00px; height: 45.74px;"><img alt="" src="<%= root_url %>assets/email/image042.png" style="width: 220.00px; height: 45.74px; margin-left: 0.00px; margin-top: 8.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p></a>
            </div>

             <!-- <div style="">
    <a style="" id="atc_btn_blue_google_link" class="atcb-item-link" href="http://addtocalendar.com/atc/google?utz=330&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=<%#=@event.event_start_time.to_time.strftime('%Y-%m-%d  %I:%M %p')  %>&amp;e[0][date_end]=<%#=@event.event_end_time.to_time.strftime('%Y-%m-%d %I:%M %p') %>&amp;e[0][timezone]=Europe%2FLondon&amp;e[0][title]=<%#=@event.event_name %>&amp;e[0][description]=<%#=@event.event_description %>&amp;e[0][location]=<%#=@event.event_venue %>&amp;e[0][organizer]=<%#=@user.name %>&amp;e[0][organizer_email]=<%#=@user.email %>" target="_blank"><p class="c5" style="display:inline-block;"><span style="overflow: hidden; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 220.00px; height: 45.74px;"><img alt="" src="<%#= root_url %>assets/email/image041.png" style="width: 220.00px; height: 45.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p></a>  
            <a style="" id="atc_btn_blue_ical_link" class="atcb-item-link" href="http://addtocalendar.com/atc/ical?utz=330&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=<%#=@event.event_start_time.to_time.strftime('%Y-%m-%d  %I:%M %p')  %>&amp;e[0][date_end]=<%#=@event.event_end_time.to_time.strftime('%Y-%m-%d  %I:%M %p')  %>&amp;e[0][timezone]=Europe%2FLondon&amp;e[0][title]=<%#=@event.event_name %>&amp;e[0][description]=<%#=@event.event_description %>&amp;e[0][location]=<%#=@event.event_venue %>&amp;e[0][organizer]=<%#=@user.name %>&amp;e[0][organizer_email]=<%#=@user.email %>" target="_blank"><p class="c5" style="display:inline-block;"><span style="overflow: hidden; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 220.00px; height: 45.74px;"><img alt="" src="<%#= root_url %>assets/email/image042.png" style="width: 220.00px; height: 45.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p></a>
            </div> -->
            
            
    <!-- <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 435.00px; height: 45.74px; margin: 0.00px; border: 0.00px solid #000000;">
        <img alt="" src="images/image00.png" style="width: 435.00px; height: 45.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </p> -->
    
    <p style="widows:2;orphans:2;text-align:center;direction:ltr;color:#13a89e;font-style:italic;text-decoration:underline;font-weight:bold " >
      <span style="color:#13a89e;font-size:10pt;font-family:'Satisfy';text-decoration:underline;font-weight:bold"></span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-style: italic; font-family: 'Georgia';">EVENT NAME:</span><span style="font-size: 12pt; font-family: 'Georgia';"> </span><span style="font-size: 12pt; font-family: 'Georgia'; text-decoration: underline; color: #13a89e;"><a href="<%= event_url(@event)%>" target="_blank" style="color: inherit; text-decoration: inherit;"><%=@event.event_name%></a></span></p>
<p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-style: italic; font-family: 'Georgia';">DESCRIPTION:</span><span style="font-size: 12pt; font-family: 'Georgia';"> <%= @event.event_description %></span></p>
<p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-style: italic; font-family: 'Georgia';">DATE:</span><span style="font-size: 12pt; font-family: 'Georgia';"> <%= @event.event_start_time.strftime('%B %d, %Y')%></span></p>
<p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-style: italic; font-family: 'Georgia';">TIME:</span><span style="font-size: 12pt; font-family: 'Georgia';"><%= @event.event_start_time.strftime('%I:%M %p')%> </span></p>
<p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-style: italic; font-family: 'Georgia';">VENUE:</span><span style="font-size: 12pt; font-family: 'Georgia';"> </span><span style="font-size: 12pt; font-family: 'Georgia'; text-decoration: underline; color: #13a89e;"><a href="http://maps.google.com/?q=<%= @event.event_venue %>" target="_blank" style="color: inherit; text-decoration: inherit;"><%= @event.event_venue%></a></span></p>
<p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;"><span style="font-size: 12pt; font-family: 'Georgia';"></span></p>
    <p style="widows:2;orphans:2;text-align:center;direction:ltr;color:#13a89e;font-style:italic;text-decoration:underline;font-weight:bold"> <span style="color:#13a89e;font-size:10pt;font-family:'Satisfy';text-decoration:underline;font-weight:bold"></span>
    </p>

    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    
    <% if @event.paid? %>
      <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
        <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
          <img alt="Huk icon-02.png" src="<%= root_url %>assets/email/huk.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </span>
        <span style="font-size: 12pt; font-family: 'Georgia';">
          Please note that this is a paid event. Your registration will not be complete until you
        </span>
      </p>
      
      <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
        <span style="font-size: 12pt; font-family: 'Georgia';">      process the payment </span>
        <span style="font-size: 12pt; font-family: 'Georgia'; text-decoration: underline; color: #1155cc;">
          <a href="<%= @event.payment_url %>" style="color: inherit; text-decoration: inherit;">
            here
          </a>
        </span>
        <span style="font-size: 12pt; font-family: 'Georgia';">. </span>
        <span style="color: #13a89e; font-size: 12pt; font-family: 'Georgia'; text-decoration: underline;">
          <a href="<%= @event.payment_url %>" style="color: inherit; text-decoration: inherit;">
            Purchase Ticket
          </a>
        </span>
        <span style="font-size: 12pt; font-family: 'Georgia';">!</span>
      </p>
    <% end %>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <img alt="Huk icon-02.png" src="<%= root_url %>assets/email/huk.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Do you know someone who might want to attend this event?
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">      Be a dear, and share the event with them on </span>
      <span style="color: #13a89e; text-decoration: underline; font-size: 12pt; font-family: 'Georgia';">
        <a href="https://twitter.com/intent/tweet?text=Just%20registered%20for%20<%=@event.event_name%>%20via%20%40hukapp%20-%20%23discovery%20tool%20for%20%23startup%20%23events%20in%20%23HongKong!%20<%=event_url(@event)%>%20CC%3A%20%40batraatin" style="color: inherit; text-decoration: inherit;">
          Twitter
        </a>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';">!</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>

    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 435.00px; height: 53.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <a href="<%=root_url%>" target="_blank" >
          <img alt="" src="<%= root_url %>assets/email/discover_events.png" style="width: 435.00px; height: 53.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </a>
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia'; font-style: italic;">
        <br>P.S: If you can think of friends, colleagues or acquaintances who’re always on the lookout for startup events, we’d love it if you recommended 
      </span>
      <span style="color: #13a89e; font-size: 12pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <a href="<%= root_url%>" style="color: inherit; text-decoration: inherit;">
          HUK
        </a>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia'; font-style: italic;">
        . Or if you’re up for it, why not send out a 
      </span>
      <span style="color: #13a89e; font-style: italic; text-decoration: underline; font-weight: bold; font-size: 12pt; font-family: 'Georgia';">
        <a href="https://twitter.com/intent/tweet?text=Discovered%20%40hukapp%20-%20an%20%23event%20%23discovery%20tool%20for%20%23startup%20%23events%20in%20%23HongKong!%20Sign%20up%20at%20hukapp.co%20CC%3A%20%40batraatin" style="color: inherit; text-decoration: inherit;">
          tweet
        </a>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia'; font-style: italic;">!</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia'; font-style: italic;">
        P.P.S: I’d love to hear any feedback you may have on the app and it’s interface, just reply to this email or tweet us 
      </span>
      <span style="color: #13a89e; font-style: italic; text-decoration: underline; font-weight: bold; font-size: 12pt; font-family: 'Georgia';">
        <a href="https://twitter.com/intent/tweet?text=Hey%20%40hukapp%2C%20" style="color: inherit; text-decoration: inherit;">
          @hukapp
        </a>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia'; font-style: italic;">!</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">Cheers,</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">Atin</span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="color: #13a89e; font-style: italic; font-size: 12pt; font-family: 'Georgia'; text-decoration: underline;">
        <a href="https://twitter.com/@batraatin" style="color: inherit; text-decoration: inherit;">
          @batraatin
        </a>
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; height: 11pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="color: #13a89e; font-size: 14pt; font-family: 'Georgia';"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <a href="http://www.twitter.com/hukapp" target="_blank">
          <img alt="social-003_twitter.png" src="<%=root_url%>assets/email/twitter.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </a>
      </span>
      <span style="font-size: 10pt;"> </span>
      <span style="color: #13a89e; font-size: 10pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <a href="<%= root_url%>" style="color: inherit; text-decoration: inherit;">
          HUK
        </a>
      </span>
      <span style="font-size: 10pt; font-family: 'Georgia';">
        <%= link_to "app", root_url, style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 10pt;"> </span>
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <a href="http://www.instagram.com/hukapp" target="_blank">
          <img alt="social-038_instagram.png" src="<%=root_url%>assets/email/camera.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </a>
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; text-align: center; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="font-family: 'Satisfy'; font-weight: bold; text-decoration: underline; font-size: 10pt; color: #13a89e;">
        <a href="<%= root_url%>" style="color: inherit; text-decoration: inherit;">
          HUK
        </a>
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="color: #13a89e; font-size: 10pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <a href="<%= root_url%>" style="color: inherit; text-decoration: inherit;">
          HUK
        </a>
      </span>
      <span style="font-size: 10pt; font-family: 'Georgia';"> is a project by </span>
      <span style="font-size: 10pt; font-family: 'Georgia'; color: #ff6132; text-decoration: underline;">
        <a href="http://abinitiohk.com/" style="color: inherit; text-decoration: inherit;">
          ab.Initio..HK Ltd.
        </a>
      </span>
    </p>
  </body>
</html>
