<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=RyNFTbWUngUcK6zU_0Ek3A');ol{margin:0;padding:0}.c1{border-bottom-width:1pt;border-top-style:solid;width:174.8pt;border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#000000;border-left-color:#000000;border-right-color:#000000;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c26{border-bottom-width:1pt;border-top-style:solid;width:146.2pt;border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#000000;border-left-color:#000000;border-right-color:#000000;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c13{border-bottom-width:1pt;border-top-style:solid;width:147pt;border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#000000;border-left-color:#000000;border-right-color:#000000;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c22{line-height:1.0;padding-top:0pt;height:11pt;text-align:left;direction:ltr;padding-bottom:0pt}.c10{vertical-align:baseline;color:#13a89e;font-style:normal;text-decoration:none;font-weight:bold}.c2{color:#13a89e;font-size:12pt;font-family:"Satisfy";text-decoration:underline;font-weight:bold}.c9{vertical-align:baseline;color:#000000;font-style:normal;text-decoration:none;font-weight:normal}.c7{color:#13a89e;font-size:10pt;font-family:"Satisfy";text-decoration:underline;font-weight:bold}.c3{line-height:1.0;padding-top:0pt;text-align:center;direction:ltr;padding-bottom:0pt}.c6{widows:2;orphans:2;height:11pt;direction:ltr}.c0{widows:2;orphans:2;text-align:center;direction:ltr}.c19{margin-right:auto;border-collapse:collapse}.c20{color:#13a89e;font-style:italic;text-decoration:underline}.c16{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c15{widows:2;orphans:2;direction:ltr}.c12{color:inherit;text-decoration:inherit}.c8{color:#13a89e;font-size:14pt}.c24{color:#13a89e;font-style:italic}.c23{color:#13a89e;text-decoration:underline}.c14{color:#ff6132;text-decoration:underline}.c18{font-size:30pt}.c17{height:0pt}.c11{font-size:10pt}.c5{font-size:12pt}.c25{font-family:"Satisfy"}.c4{font-family:"Georgia"}.c21{font-size:14pt}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:16pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h2{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}</style>
  </head>
  <body style="max-width: 468pt; background-color: #ffffff; padding: 72pt;" bgcolor="#ffffff">
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 141.50px; height: 141.50px; margin: 0.00px; border: 0.00px solid #000000;">
        <img alt="HUK logo2.png" src="<%=root_url%>assets/email/logo.png" style="width: 141.50px; height: 141.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 30pt; font-family: 'Georgia';">
        Hello 
      </span>
      <span style="color: #13a89e; text-decoration: underline; font-size: 30pt; font-family: 'Georgia';">
        <%= link_to "@#{@organizer.twitter_handle}", user_profile_url(@organizer), style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 30pt; font-family: 'Georgia';">!</span>
    </p>
    
    <p style="widows: 2; orphans: 2; height: 11pt; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-family: 'Georgia'; font-size: 14pt;"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        We just wanted to share with you a list of attendees for 
      </span>
      <span style="color: #13a89e; font-size: 12pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <%= link_to @event.event_name, event_url(@event), style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';">:</span>
    </p>
    
    <p style="widows: 2; orphans: 2; height: 11pt; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    
    <table cellpadding="0" cellspacing="0" style="margin-right: auto; border-collapse: collapse;">
      <tbody>
        <tr style="height: 0pt;">
          <td colspan="1" rowspan="1" style="width: 146.2pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
            <p style="line-height: 1.0; padding-top: 0pt; text-align: center; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
              <span style="vertical-align: baseline; color: #13a89e; font-style: normal; text-decoration: none; font-weight: bold; font-size: 12pt; font-family: 'Georgia';">
                Attendee Name
              </span>
            </p>
          </td>
          <td colspan="1" rowspan="1" style="width: 147pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
            <p style="line-height: 1.0; padding-top: 0pt; text-align: center; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
              <span style="vertical-align: baseline; color: #13a89e; font-style: normal; text-decoration: none; font-weight: bold; font-size: 12pt; font-family: 'Georgia';">
                Attendee’s Email
              </span>
            </p>
          </td>
          <td colspan="1" rowspan="1" style="width: 174.8pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
            <p style="line-height: 1.0; padding-top: 0pt; text-align: center; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
              <span style="vertical-align: baseline; color: #13a89e; font-style: normal; text-decoration: none; font-weight: bold; font-size: 12pt; font-family: 'Georgia';">
                Attendee’s Twitter Handle
              </span>
            </p>
          </td>
        </tr>
        <% @attendees.each do |attendee| %>
          <tr style="height: 0pt;">
            <td colspan="1" rowspan="1" style="width: 146.2pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
              <p style="line-height: 1.0; padding-top: 0pt; height: 11pt; text-align: left; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="left">
                <span style="vertical-align: baseline; color: #000000; font-style: normal; text-decoration: none; font-weight: normal; font-size: 11pt; font-family: 'Georgia';">
                  <%= attendee.name %>
                </span>
              </p>
            </td>
            <td colspan="1" rowspan="1" style="width: 147pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
              <p style="line-height: 1.0; padding-top: 0pt; height: 11pt; text-align: left; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="left">
                <span style="vertical-align: baseline; color: #000000; font-style: normal; text-decoration: none; font-weight: normal; font-size: 11pt; font-family: 'Georgia';">
                  <%= attendee.email %>
                </span>
              </p>
            </td>
            <td colspan="1" rowspan="1" style="width: 174.8pt; vertical-align: top; padding: 5pt; border: 1pt solid #000000;" valign="top">
              <p style="line-height: 1.0; padding-top: 0pt; height: 11pt; text-align: left; direction: ltr; padding-bottom: 0pt; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="left">
                <span style="vertical-align: baseline; color: #000000; font-style: normal; text-decoration: none; font-weight: normal; font-size: 12pt; font-family: 'Georgia';">
                  <%= link_to "@#{attendee.twitter_handle}", user_profile_url(attendee), style:"color: #13a89e; font-style: italic; font-size: 11pt; font-family: 'Georgia'; text-decoration: underline;", target:"_blank" %>
                </span>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <p style="widows: 2; orphans: 2; height: 11pt; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Thank you for using 
      </span>
      <span style="color: #13a89e; font-size: 12pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <%= link_to "HUK", root_url, style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 12pt; font-family: 'Georgia';"> to list your startup event.</span>
    </p>

    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Should you have any queries, just reply to this email!
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; height: 11pt; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Cheers,
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="font-size: 12pt; font-family: 'Georgia';">
        Atin
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="color: #13a89e; font-style: italic; text-decoration: underline; font-size: 12pt; font-family: 'Georgia';">
        <a href="https://twitter.com/@batraatin" style="color: inherit; text-decoration: inherit;">
          @batraatin
        </a>
      </span>
    </p>
    
    <p style="widows: 2; orphans: 2; height: 11pt; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;">
      <span style="color: #13a89e; font-size: 14pt; font-family: 'Georgia';"></span>
    </p>
    
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <a href="http://www.twitter.com/hukapp" target="_blank">
          <img alt="social-003_twitter.png" src="<%= root_url %>assets/email/twitter.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </a>
      </span>
      <span style="font-size: 10pt;"> </span>
      <span style="color: #13a89e; font-size: 10pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <%= link_to "HUK", root_url, style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 10pt; font-family: 'Georgia';">
        <%= link_to "app", root_url, style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 10pt;"> </span>
      <span style="overflow: hidden; display: inline-block; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 20.00px; height: 20.00px; margin: 0.00px; border: 0.00px solid #000000;">
        <a href="http://www.instagram.com/hukapp" target="_blank">
          <img alt="social-038_instagram.png" src="<%= root_url %>assets/email/camera.png" style="width: 20.00px; height: 20.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
        </a>
      </span>
    </p>
   
    <p style="widows: 2; orphans: 2; text-align: center; direction: ltr; color: #000000; font-size: 11pt; font-family: 'Arial'; margin: 0;" align="center">
      <span style="color: #13a89e; font-size: 10pt; font-family: 'Satisfy'; text-decoration: underline; font-weight: bold;">
        <%= link_to "HUK", root_url, style:"color: inherit; text-decoration: inherit;", target:"_blank" %>
      </span>
      <span style="font-size: 10pt; font-family: 'Georgia';"> is a project by </span>
      <span style="color: #ff6132; text-decoration: underline; font-size: 10pt; font-family: 'Georgia';">
        <a href="http://abinitiohk.com/" style="color: inherit; text-decoration: inherit;">
          ab.Initio..HK Ltd.
        </a>
      </span>
    </p>
  </body>
</html>
