<%= javascript_include_tag "application_user" %>
<style>
.btn-green{background-color:#13A89E; }
.site-section-top {

overflow: hidden;
padding-top: 24.7%;
}
.honkong-background-dark {
background-image: url("/assets/Hong_Kong.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
background-color: transparent;
}
  .comment_text{width: 100%!important;}
  .m-b-20{margin-bottom: 20px!important}
  .widget-main{padding: 0px!important;}
  /*.register_button{background-color: rgb(197, 191, 191);padding:3px;padding-left: 8px;padding-right: 8px;line-height: 27px;}
  .registered_button .modal_btn{line-height: 27px!important;padding:3px;background-color: #1bbae1;padding-left: 12px!important;padding-right: 12px!important;color: white;}*/
  .register_button
  {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: block;
    background-color: rgb(197, 191, 191);
    padding: 3px;
    margin-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
  }
  .registered_button
  {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: block;
    background-color: #13A89E;

    margin-top: 2px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
  }
  .register_button a:hover{background-color: #13A89E;}
  .register_button a,.register_button a:hover{color: white;text-decoration: none;}
  .event_ribbon
  {
    color: white;
    padding: 6px;
    /* height: 40px; */
    position: absolute;
    width: 65px;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    font-size: 15px;
    font-weight: 100;
    box-shadow: 0px 0px 1px 1px #D3CDCD;
  }
  .event_paid{background-color: rgb(240, 97, 97);}
  .event_free{background-color: rgb(105, 221, 105);}
  span.widget-icon .fa-thumbs-up {margin-left: 0px !important;
                                  float: none !important;}
 /* .organizer_data
  {
    position: absolute;
    right: 0;
    top: 0px;
    margin: 0px;
    color: white;
  }*/
  /*.comments_count{margin-right: 10px;}*/
  .job-item-price{font-size: 12px; padding: 5px;}
  .job-item-icon{padding: 0px;font-size: 0px;}
  .creator_name{color: white;}
  .job-item > a{margin-bottom: 0px;border:0px solid #eeeeee;}
  .event_ribbon
  {
    font-family: 'open sans';
    color: white;
    padding: 6px;
    /* height: 40px; */
    position: absolute;
    width: 60px;
    z-index: 1;
    top: 0;
    left: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
  .job-item{padding-bottom: 20px;}
  .event_paid{background-color: rgb(240, 97, 97);}
  .event_free{background-color: rgb(105, 221, 105);}
  /*.register_button{margin-top: 2px;background-color: rgb(197, 191, 191);padding-left: 8px;padding-right: 8px;}
  .registered_button{line-height: 27px!important;
                     margin-top: 2px;
                     background-color: #1bbae1;
                     padding: 3px;
                     padding-left: 8px;
                     padding-right: 8px;
                     color: white;}*/
  .event_page_register .registered_button
  {
    display:inline;padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .event_page_register .register_button
  {
    display:inline;padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .register_button a:hover{background-color: #13A89E;}
  .register_button a,.register_button a:hover{color: white;text-decoration: none;}
  .event_buttons{margin-top: 10px;}
/*  .modal.fade:not(.in) .modal-dialog {-webkit-transform: translate3d(125%, 0, 0);
                                      transform: translate3d(125%, 0, 0);}
  .modal-dialog{float: right;margin:0px;}*/
  /*.job-item-info {height: 140px;}*/
  /* mixitup css */
  #jobsdiv .mix{/*opacity: 0;*/
                display: none;}
  #filterbtn
  {
    /*margin-left: 40%;
     margin-right: 40%;*/
     margin-left: auto;
margin-right: auto;
display: block;
     width: 25%;
   }
  #searchbtn
  {
    margin-left: auto;
margin-right: auto;
display: block;
    /*margin-left: 40%;
    margin-right: 40%;*/
    width: 25%;
  }
  .index_likes .myhook img{height: 26px;}
  .job-item-info {
padding: 20px;
background-color: rgba(128, 128, 128, 0.15);
}
#jobsdiv{margin: auto;}
.event_index_image{width: 100%;height: auto;}
/*.btn-primary:focus, .btn-primary:active,.btn-primary:hover, .btn-primary.active, .open .btn-primary.dropdown-toggle {
background-color: #13A89E;
border-color: #13A89E;
color: #ffffff!important;
}
.btn-primary {
background-color: #13A89E;
border-color: #13A89E;
color: #13A89E!important;
}*/
#filterbtn:hover,#searchbtn:hover{color: white;}
.small_screen_title{position: absolute;margin-top:15px;
font-family: 'Satisfy', cursive;
font-weight: 600;
left: 0px;
right: 0px;}
.large_screen_title{position: absolute;margin-top:-40px;
font-family: 'Satisfy', cursive;
font-weight: 600;
left: 5%;
right: 5%;}
.event-time-text
{
  display: inline-block;
}
</style>
           
<!-- Intro -->
<section class="site-section site-section-light site-section-top honkong-background-dark">
  <div class="container">
    <h1 class="text-center animation-slideDown hidden-xs hidden-sm">
      <!-- <i class="fa fa-check-square"></i>  -->
      <strong class="large_screen_title">Event Discovery platform for Startups in Hong Kong!</strong>
    </h1>
    <h4 class="text-center animation-slideDown visible-xs visible-sm">
      <!-- <i class="fa fa-check-square"></i>  -->
      
      <strong class="small_screen_title">Event Discovery platform for Startups in Hong Kong!</strong>
    </h4>
    <h2 class="h3 text-center animation-slideUp">
    <!--   Welcome to <strong>HUK</strong> <strong></strong>! -->
    </h2>
  </div>
</section>

<!-- Jobs -->
<section class="site-content site-section">
  <div class="container">
    <!--    <h2 class="site-heading">
      <strong>All</strong> Events
    </h2>
    <!-- <div class="col-sm-6 col-sm-offset-3"> -->
    <div class="page2">
      <button align="center" type="button" id="searchbtn" class="btn btn-green btn-md btn-block" >SEARCH</button>
      
      <div class="row">
        <div align="center" class="col-sm-4">
          <h5 align="center" style="color:gray;"><strong>ORDER BY</strong></h5>
          <div class="btn-group">
            <button class="sort btn btn-alt btn-primary"  data-sort="data-date" data-order="desc" >Date</button>
            <button class="sort btn btn-alt btn-primary" data-sort="data-up" data-order="asc" >HUKs</button>
            <button class="sort btn btn-alt btn-primary active" data-sort="default">Default</button>
          </div>
        </div>
        <div align="center" class="col-sm-4">
          <h5 align="center" style="color:gray;"><strong>CATEGORY</strong></h5>
          <div class="btn-group">
            <button class="filter btn btn-alt btn-primary" data-filter="Learn">Learn</button>
            <button class="filter btn btn-alt btn-primary" data-filter="Build">Build</button>
            <button class="filter btn btn-alt btn-primary" data-filter="Meet">Meet</button>
            <button class="filter btn btn-alt btn-primary" data-filter="all">All</button>
          </div>
        </div>
        <div align="center" class="col-sm-4 ">
          <h5 align="center" style="color:gray;"><strong>STATUS</strong></h5>
          <div class="btn-group">
            <button class="filter btn btn-alt btn-primary" data-filter="free">Free</button>
            <button class="filter btn btn-alt btn-primary" data-filter="paid">Paid</button>
            <button class="filter btn btn-alt btn-primary" data-filter="all">All</button>                             
          </div>
        </div>
      </div>
    </div>
    <div class="page1">
      <button align="center" type="button" id="filterbtn" class="btn btn-green btn-md btn-block">FILTER</button>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <br>
          <br>
          <input type="text" class="form-control" placeholder="Search.." id="search-email">
        </div>
      </div>
    </div>
    <br><br>
    <hr>
    <div class="row jobs" id="jobsdiv">
      <% @events.each do |event| %>
        <!--  <div class="col-md-4 job-item eventthumb visibility-none" data-toggle="animation-appear"   data-animation-class="animation-fadeInQuick" data-element-offset="-100"> -->
        <div class="col-md-4 col-sm-6 col-xs-12 job-item eventthumb mix all <%= event.master_event_category.category %> <% if event.master_event_status_id==3 %>active<% end %><% if event.master_event_status_id==5 %>completed<% end %> <% if event.paid %>paid<% else %>free<% end %> " data-date="<%= event.event_start_time %>" data-up="<%= event.event_upvotes.count %>" data-reset="<%=event %>">
          <a href="javascript:void(0)">
            <a class="change_url<%=event.id%> change_url event_modal_open" href="<%= event_modal_path(:id=>event.id)%>" slug="<%=event.slug %>" event_id="<%=event.id%>" data-remote=true>
              <div class="job-item-rating themed-color">
                <div class="creator_name">
                  <% if !event.event_creator.nil? && event.event_creator.master_user_status_id == MasterUserStatus.find_by(status: 'active').id %>
                    <%= event.event_creator.name %>
                  <% else %>
                    Anonymous
                  <% end %>
                </div>
              </div>
              <div class="job-item-icon">
                <% if event.paid %>
                  <div class="pull-right event_ribbon event_paid">
                    Paid
                  </div>
                <% else %>
                  <div class="pull-right event_ribbon event_free">
                    Free
                  </div>
                <% end %>
                <%= image_tag event.image(:small),:class=>"event_index_image" %>
              </div>
              <div class="job-item-info clearfix">
              <div style="min-height:3em;"> 
                <strong class="event_title">
                <% if event.event_name.length > 67 %>
                  <%= link_to event.event_name[0..66]<< "..", event.event_url, target: "_blank" %>
                <% else %>
                  <%= link_to event.event_name, event.event_url, target: "_blank" %>
                <% end %>  
                </strong> 
                </div><br>
                <div class="text-muted venue">
                <% if event.event_venue.length > 20 %>
                  <%= event.event_venue[0..19]<< ".." %> 
                <% else %>
                  <%= event.event_venue %>
                <% end %>    
                </div> 
                <!-- <div>
                  <div class="text-muted event-time-text">
                    <strong>Start Time: </strong><br/>
                    <strong>End Time: </strong>
                  </div>
                  <div class="text-muted event-time-text">
                    <%#= event.event_start_time.strftime('%b %d, %Y | %I:%M %p')  %><br/>
                    <%#= event.event_end_time.strftime('%b %d, %Y | %I:%M %p')  %>
                  </div>
                </div> -->
                <div class="text-muted">
                  <strong><%= event.event_start_time.strftime('%b %d, %Y | %I:%M %p')  %></strong>
                </div>
                <div class="text-muted event_buttons pull-right">
                  <span class="job-item-price themed-color-dark pull-right upvotes-count<%=event.id%>">
                    <%= event.event_upvotes.count %>
                  </span>
                  <div class="like-unlike-link<%=event.id%> index_likes pull-right">
                    <% if user_signed_in? %>
                      <% if EventUpvote.find_by(event_id: event.id, user_id: current_user.id) %>
                        <%= link_to (image_tag 'hook-2.png'), event_unlike_path(id: event.id), remote: true,:class=>"myhook" %>
                      <% else %>
                        <%= link_to (image_tag 'hook-1.png'), event_like_path(id: event.id), remote: true ,:class=>"myhook"%>
                      <% end %>
                    <% else %>
                      <%= link_to (image_tag 'hook-1.png'), "", "data-toggle"=>"modal", "data-target"=>"#signInModal", class:"myhook" %>
                    <% end %>
                  </div>
                </div>
                <div class="text-muted event_buttons">
                  <span class="job-item-price themed-color-dark pull-right event-attendees-count<%=event.id%>">
                    <%= event.event_attendees.count %>
                  </span>
                  <div class="link-to-register<%=event.id%> home_register pull-right">
                    <% if user_signed_in? %>
                      <% if EventAttendee.find_by(event_id: event.id, user_id: current_user.id) %>
                        <% if event.paid %>
                          <strong class="img-circle registered_button "><a style="color:white;text-decoration:none;" data-toggle="tooltip" data-original-title="Linked to payment page">R</a></strong>
                        <% else %>
                          <strong class="img-circle registered_button ">R</strong>
                        <% end %>
                      <% else %>
                        <% if event.master_event_status_id == MasterEventStatus.find_by_status('completed').id %>
                          <% if event.paid %>
                            <strong class="img-circle register_button"><a style="color:white;text-decoration:none;" data-toggle="tooltip" data-original-title="Linked to payment page">R</a></strong>
                          <% else %>
                            <strong class="img-circle register_button ">R</strong>
                          <% end %>
                        <% else %>
                          <% if event.paid %>
                            <% if event.event_start_time < Time.current %>
                              <strong class="img-circle register_button signed_register"><%= link_to 'R', event_register_path(id: event.id), "data-toggle"=>"tooltip", "data-placement"=>"top" ,"title"=>"" ,"data-original-title"=> "Linked to payment page" %>
                              </strong>
                            <% else %>
                              <strong class="img-circle register_button signed_register"><%= link_to 'R', event_register_path(id: event.id), "data-toggle"=>"tooltip", "data-placement"=>"top" ,"title"=>"" ,"data-original-title"=> "Linked to payment page", target:"_blank"%>
                              </strong>
                            <% end %>
                          <% else %>
                            <strong class="img-circle register_button signed_register"><%= link_to 'R', event_register_path(id: event.id), remote: true %>
                            </strong>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <strong class="img-circle register_button ">
                        <%= link_to 'R',"","data-toggle"=>"modal","data-target"=>"#signInModal"%>
                      </strong> 
                    <% end %>
                  </div>
                </div>
                <div class="text-muted event_buttons">
                  <span class="job-item-price themed-color-dark pull-right comments_count">
                    <%= event.event_comments.count %>
                  </span>
                  <div>
                    <% if user_signed_in? %>
                      <a class="change_url<%=event.id%>" href="<%= event_modal_path(:id=>event.id)%>" data-remote=true><i class='fa fa-comment-o fa-2x pull-right'></i></a>
                        <%#= link_to "<i class='fa fa-comments fa-2x pull-right'></i>".html_safe, event_modal_path(:id=>event.id),:class=> "change_url",:remote=> true%>
                    <% else %>
                      <%= link_to "<i class='fa fa-comment-o fa-2x pull-right'></i>".html_safe, "", "data-toggle"=>"modal", "data-target"=>"#signInModal" %> 
                    <% end %>
                  </div>
                </div>
                <div class="text-muted event_buttons">
                  <a href="javascript:void(0)"  data-toggle="tooltip" title="" data-original-title="Organiser of the Event" class="hidden-xs">
                    <i class="fa fa-circle-o fa-2x"></i>
                  </a>

                  <% if !event.organizers.first.nil? && event.organizers.first.master_user_status_id == MasterUserStatus.find_by(status: 'active').id %>
                    <strong style="vertical-align:super;" class="org_name hidden-xs">
                    <% if event.event_organizers.first.organizer_name.length > 12 %>
                    <%= link_to event.event_organizers.first.organizer_name[0..11]<< "..", user_profile_path(event.organizers.first), "data-toggle" => "popover" ,"data-content"=>"", "data-placement"=>"top","uniqid"=>rand(1..100000),"data-html" => true,"user_id"=> event.organizers.first.id, :class=>"checkuser" %>
                    <% else %>
                    <%= link_to event.event_organizers.first.organizer_name, user_profile_path(event.organizers.first), "data-toggle" => "popover" ,"data-content"=>"", "data-placement"=>"top","uniqid"=>rand(1..100000),"data-html" => true,"user_id"=> event.organizers.first.id, :class=>"checkuser" %>
                    <% end %>
                    </strong>
                  <% else %>
                  <% if event.event_organizers.first.organizer_name.length > 12 %>
                    <strong class="org_name hidden-xs" style="vertical-align:super;"><%= event.event_organizers.first.organizer_name[0..11]<< ".." %></strong>
                    <% else %>
                    <strong class="org_name hidden-xs" style="vertical-align:super;"><%= event.event_organizers.first.organizer_name %></strong>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </a>
          </a>
        </div>
        
      <% end %>
    </div>
  </div>
</section>  

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<!-- <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a> -->

<!--event modal -->

<div class="event_modal modal fade right bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
</div>
<!-- end event modal -->


<% @allevents.each do |event| %>
  <script>
    $(document).ready(function(){
      var id = "<%= event.id%>";
      if (window.location.href == '<%= root_url %>events/<%= event.slug %>') {
        $.ajax({
          type: "get",
          url: '/event_modal',
          data: {id: id}
        })
      }
    });
  </script>
  <% end %>

<script>
  // alert(window.location.href);
  $('.change_url').click(function(e) {
if (e.button != 1) {
    window.history.pushState('obj', 'newtitle', '/events/'+$(this).attr("slug"));
  }
  });
  // $(document).keyup(function(e){
  //   if(e.keyCode === 27)
  //   window.history.back();
  // });

</script>

<script>
  $('.checkuser').on('mouseenter',function(){
    var id= $(this).attr("user_id");
    var uniqid = $(this).attr('uniqid');
    $.ajax({
      type: "get",
      url: '/event/popover_user',
      data: {userid: id, uniqid: uniqid}
    });
  });

  // $('.checkuser').on('mouseleave',function(){
  //   $('.checkuser').popover('hide');
  // });

  $('#filterbtn, #searchbtn').click(function(){
    var page1 = $('.page1');
    var page2 = $('.page2');
    var toHide = page1.is(':visible') ? page1 : page2;
    var toShow = page2.is(':visible') ? page1 : page2;
    
    toHide.removeClass('flip in').addClass('flip out').hide();
    toShow.removeClass('flip out').addClass('flip in').show();
      $('#search-email').val('');
      $('.eventthumb').show();
      // $('.sort').removeClass('active');
      // $('.btn-group [data-sort="default"]').addClass("active");
      $('.filter').removeClass('active');
      $('[data-filter="all"]').addClass("active");
  });

  $('#myModal').on('hidden.bs.modal', function () {
  // if(document.referrer.indexOf("events/new")<=-1)
  var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false );

  if(iOS){
    // history.go(1);
    window.history.replaceState('object or string', 'Title', '<%= root_url %>');
  }else{

     // window.history.back();
     window.history.replaceState('object or string', 'Title', '<%= root_url %>');

     }  
  });
</script>

<script>
// var maxLength=20;
//     $(window).on('resize', function(){
//       var width=$(window).width();
//     // alert(width);
//     if(width < 1000){
//       var inp=20;

//       maxLength=inp/2;

//       maxLength=maxLength.toFixed();   

    // alert("if "+maxLength);
  // }
  // else
  // {
        // alert('else');
        // maxLength=20;
    // alert("else "+maxLength);
//   }
//   desc();
// });
//      $(window).on('load', function(){
//       var width=$(window).width();
//     // alert(width);
//     if(width < 1000){
//       var inp=20;

//       maxLength=inp/2;

//       maxLength=maxLength.toFixed();   

   
//   }
//   else
//   {
      
//         maxLength=20;
//     );
//   }
//   desc();
// });

// desc();
// function desc(){
  // alert(maxLength);
      
    // }
</script>


<!-- <div id="popover_content" style="display:none;">Hello</div> -->